body {
  font-family: sans-serif;
  margin: 0;
  background-image: url('./images/wallpaper.jpg');
  background-repeat: repeat;
}

a {
  text-decoration: none;
  color: black;
  font-family: 'Quicksand', sans-serif;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

#authForm {
  padding-bottom: 25px;
}

table {
  margin: 0 auto;
}

td {
  min-width: 15vw;
}

.cart-thumbnail {
  max-height: 10vh;
}

.block {
  display: block;
}

.centered {
  margin-top: 15%;
  text-align: center;
}

#fixNav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  height: 10vh;
}

#navbar {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  width: 100%;
  height: auto;
  background-color: white;
}

#logo {
  width: 25%;
  height: 25%;
  padding-left: 2vw;
}

#navbar > nav {
  text-align: center;
  width: 20vw;
}

#navbar > a {
  display: flex;
}

#main-body {
  padding-top: 0;
  background-color: white;
  width: 90%;
  margin: 10% 5% 10% 5%;
}

#carousel {
  width: 100%;
  height: auto;
  display: block;
}

#carousel img {
  width: 80%;
  padding-top: 2%;
  padding-right: 10%;
  padding-left: 10%;
  align-self: center;
}

#container {
  padding-top: 3%;
  padding-right: 10%;
  padding-left: 10%;
  width: 80%;
}

.imgContainer {
  border: 10px solid #fdf384;
  background-color: white;
  margin: 20px;
  width: 220px;
  height: 220px;
}
.images {
  display: block;
  margin: auto;
  padding-top: 5%;
  max-width: 200px;
  height: 200px;
}

#menu {
  display: flex;
}

.buttons {
  justify-content: center;
  border: 5px solid gray;
  width: 50%;
}

#products {
  display: flex;
}

h3 {
  font-size: 5vh;
  font-family: 'Quicksand', sans-serif;
}

#empty-cart {
  margin: 10vh auto;
}

#product-container {
  align-items: flex-end;
  display: flex;
  flex-flow: row wrap;
  justify-content: baseline;
}

.product-thumb {
  flex: 1;
  padding: 5vh 3vw;
  width: 30vw;
}

.button-icon {
  padding-left: 10px;
}

.underlined {
  padding-bottom: 2vh;
  text-decoration: underline;
}

p {
  font-family: 'Quicksand', sans-serif;
}
