body {
  font-family: sans-serif;
  margin: 0;
  background-image: url('./images/wallpaper.jpg');
  background-repeat: repeat;
}

a {
  text-decoration: none;
  color: black;
  font-family: 'Quicksand', sans-serif;
}

label {
  display: block;
  font-family: 'Quicksand', sans-serif;
  color: #1abfd1;
}

nav a {
  display: inline-block;
  margin: 1em;
  font-size: 1.2em;
  font-weight: 850;
  color: black;
}

form div {
  margin: 1em;
  display: inline-block;
}

#authForm {
  padding-bottom: 25px;
}

table {
  margin: 0 auto;
}

td {
  min-width: 15vw;
}

.cart-thumbnail {
  max-height: 10vh;
}

.block {
  display: block;
}

.centered {
  margin-top: 15%;
  text-align: center;
}

#fixNav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  height: 10vh;
}

#navbar {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  width: 100%;
  height: auto;
  background: #2980b9; /* fallback for old browsers */
  background: linear-gradient(to top, #ffffffe0, #90cfe6, #1abfd1);
}

#logo {
  width: 25%;
  height: 25%;
  padding-left: 3vw;
}

#navbar > nav {
  text-align: center;
  width: 30vw;
}

#navbar > a {
  display: flex;
}

#main-body {
  padding: 10px 0px 10px 0px;
  background-color: white;
  width: 90%;
  margin: 10% 5% 10% 5%;
}

#carousel {
  width: 100%;
  height: auto;
  display: block;
}

#carousel img {
  width: 55%;
  padding: 5% 10% 5% 10%;
  align-self: center;
}

#container {
  padding-top: 3%;
  padding-right: 10%;
  padding-left: 10%;
  width: 80%;
}

.images {
  display: block;
  margin: auto;
  padding-top: 5%;
  max-width: 200px;
  height: 200px;
}

#menu {
  display: flex;
}

.showProducts {
  justify-content: center;
  padding-bottom: 20px;
  width: 100%;
}

#products {
  display: flex;
}

h3 {
  font-size: 3.5vh;
  font-family: 'Quicksand', sans-serif;
}

#empty-cart {
  margin: 10vh auto;
}

#product-container {
  align-items: flex-end;
  display: flex;
  flex-flow: row wrap;
  justify-content: baseline;
}

.product-thumb {
  flex: 1;
  padding: 5vh 3vw;
  width: 65vw;
  height: 40vh;
}

.button-icon {
  padding-left: 10px;
}

#quantity-dropdown {
  border: 2px solid black;
}
.underlined {
  padding-bottom: 2vh;
  text-decoration: underline;
}

p {
  font-family: 'Quicksand', sans-serif;
}

#payment-form {
  display: flex;
  flex-direction: column;
}

.form-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 8px 0;
}

.left-half {
  display: flex;
  flex-direction: row;
  width: 50%;
  flex-grow: 1;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
}

.right-half {
  display: flex;
  flex-direction: row;
  width: 50%;
  flex-grow: 1;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
}

.form-label {
  margin-right: 8px;
  text-align: right;
}

.card-input {
  width: 105px;
  border: 1px solid #2b2;
  border-radius: 4px;
  color: #28d;
}

.card-input:focus {
  outline: none;
  border-color: #2bd;
}

.card-input-short {
  width: 50px;
  border: 1px solid #2b2;
  border-radius: 4px;
  color: #2bd;
}

.card-input-short:focus {
  outline: none;
  border-color: #2bd;
}

#slash-for-date {
  margin: 0 4px;
}

#submit-payment {
  background-color: #8f8;
  border-radius: 8px;
  font-size: 1em;
  font-family: 'Quicksand', sans-serif;
}
