body {
  font-family: sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

table {
  margin: 0 auto;
}

td {
  min-width: 15vw;
}

.cart-thumbnail {
  max-height: 10vh;
}

.block {
  display: block;
}

.centered {
  text-align: center;
}

#navbar {
  display: flex;
  justify-content: space-between;
  padding: 0 3vw;
  background-color: white;
  border-bottom: 1px solid black;
}

#fixNav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

#navbar > nav {
  align-items: center;
  display: flex;
}

#main-body {
  padding-top: 100px;
}

#carousel {
  width: 100%;
  height: auto;
  display: block;
}

#carousel img {
  width: 80%;
  padding-top: 2%;
  padding-right: 10%;
  padding-left: 10%;
  align-self: center;
}

#container {
  padding-top: 2%;
  padding-right: 10%;
  padding-left: 10%;
  width: 80%;
}

.images {
  max-width: 200px;
  max-height: 200px;
}

#menu {
  display: flex;
}

.buttons {
  justify-content: center;
  border: 5px solid gray;
  width: 50%;
}

#products {
  height: auto;
}

h3 {
  margin-top: 2%;
  font-size: 5vh;
}
